* {
    background-color: antiquewhite;
}

#calculate {
    color: black;
    background-color: rgb(77, 136, 136);
    font-weight: bold;
    font-size: 25px;
    border: 2px solid rgb(231, 110, 110);
    border-radius: 25px;
}

button {
    width: 130px;
    height: 40px;
}

button:hover {

    width: 150px;
    height: 50px;

    color: red;
}

/* 
 #ans{

    font-size: 25px ;
    font-weight:bold;
    /* width: 100%;
    height:100%;    

width: 500px;
height: 500px;
position: absolute;
background-color: red;
}
*/

 #change1 {
    font-size: 27px;
    font-weight: 800;
}

#change2 {
    font-size: 27px;
    font-weight: 800;
}

#num1 {
    font-size: 25px;
    font-weight: 600;
}

#num2 {
    font-size: 25px;
    font-weight: 600;
}

#myselection {
    font-size: 25px;
    font-weight: 600;
}

h1 {
    width: 100%;
}

h3 {
    display: flex;
    width: 100%;
    border: 2px solid rgb(175, 167, 167);
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 21);
}

/*
#div5 {
    /* width: 100%;
   height:300px; */
  /*  width: 1100px;
    height: 1100px;*/
    /* background-color:rgb(176, 109, 238); */
   /* position: relative;
    background: yellow;

}
*/

#container {
    width: 100% ;
    height: 300px;
    position: relative;
    background: rgb(238, 61, 61);
  }
  /* #ans {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    position: absolute;
    background: rgb(238, 61, 61);
    /* background-color: red; */
    /*
  } 
  */

@media only screen and (max-width: 480px) {
    #div2 {
        display: block;
    }
}

@media only screen and (min-width: 481px) {
    #div2 {
        display: flex;
        flex-direction: row;
    }
}

@keyframes crazy {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

#ans {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    position: relative;
    animation: mymove 5s infinite;
    background: rgb(238, 61, 61);
    /* border: 2px solid green; */
  }
  
  @keyframes mymove {
    from {left: 0px; top :0px;}
    to {left: 0px;top:200px;}
  }
  
  @keyframes mynewmove {
    from {top: 0px;}
    to {top: 200px;}
  }